p{
    font-size: 18px;
}
body{
    background-color: #F3F5F9;
}
.full-container{
    width: 98%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
.topContainerBg{
    background-image: url("images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.biographyBg{
    background-image: url("images/biography-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.latestWork{
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
}

.hireBtn{
    padding: 10px 20px;
    margin-top: 1rem;
    background: rgb(252,0,153);
background: linear-gradient(90deg, rgba(252,0,153,1) 2%, rgba(255,0,104,1) 50%);
    border-radius: 5px;
    border: none;
    color: white;

}
.hireBtn:hover,.cvBtn:hover{
    background-color: #f30943;
    cursor: pointer;
}
img{
    width: 33%;
    padding: 1%;
}
.topHeader{
    width: 40%;
    padding: 0rem;
    margin-left: 11rem;
    margin-top: 0rem;
    font-size: 24px;
    padding-top: 7rem
}
.topHeader h1{
    color: #EC4B74;
    font-family: Arial, Helvetica, sans-serif;
}

.myimg{
    float: right;
    margin-top: -25%;
    width: 40%;
    margin-right: 3rem;
}
.biography{
    width: 40%;
    padding: 0rem;
    margin-left: 11rem;
    margin-top: 2rem;
    font-size: 24px;
    padding-top: 7rem;
    float: right;
    text-align: justify;
}
.biographyImg{
    width: 26%;
    margin-left: 12rem;
    margin-top: -22rem;width: 31%;
    margin-left: 12rem;
    margin-top: 6rem;
}

.worskTitle{
    text-align: center;
    padding: 2rem;
}
.cvBtn{
    padding: 10px 20px;
    margin-top: 3rem;
    background: rgb(252,0,153);
    background: linear-gradient(90deg, rgba(252,0,153,1) 2%, rgba(255,0,104,1) 50%);
    border-radius: 5px;
    border: none;
    color: white;

}
.works>img{
    width: 28%;
    padding: 2%;
    margin: 0 auto;
    margin-left: 9px;
    margin-top: 4rem;
    border-radius: 3rem;
}
.comments{
    text-align: center;
    padding: 5rem;
    color: rgb(90, 88, 88);
}
.comments h1{
    padding: 2rem;
}
.client{
    padding: 2rem;
    padding-top: 0px;
}
.footer{
    text-align: center;
    width: 50%;
    background: rgb(252,0,192);
    background: rgb(252,0,153);
    background: linear-gradient(90deg, rgba(252,0,153,1) 2%, rgba(255,0,104,1) 50%);
    height: 15vh;
    margin: 0 auto;
    border-radius: 8px;
    padding: 2rem;
}
.footer h1{
    padding: 1rem;
}
.footerContainer
{
    color: white;
    background-image: url("images/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.footerBottom{
    color: #504c4c;
    text-align: center;
    padding: 2rem;
}